.layout {
  display: flex;
  height: calc(100vh - 60px);
}
/* sidebar css */
.sidebar {
  /* border: 2px solid green; */
  width: 270px;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 20px 10px;

}
.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  font-size: 15px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #555;
  border-radius: 6px;
}
.sidebar nav a.active,
.sidebar nav a:hover {
  background: #137fec;
  color: #fff;
}
.icon {
  font-size: 20px;
  margin-right: 8px;

  vertical-align: middle;

}
.sidebar-icon{

margin: 10px 0px;
}
