* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  border: 2px solid goldenrod;
}
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f5f6fa;
  border: 2px solid goldenrod;
}
.conta{
  display: flex;
  flex-direction: row-reverse;
}
